.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.one-third, .three-quarter {
  color: gray;
  border: solid black 1px;
  min-height: 100vh;
}

.mt-35 {
  margin-top: 1.4em;
}

.lines {
  border: solid black 1px;
}

.bottomline {
  border-bottom: solid black 1px;
}

.vertical-text {
  writing-mode: sideways-lr;
}

.bttn {
  margin: 10px !important;
}

.content {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  color: orange;
  font-weight: 700;
}